@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../../assets/wave.svg") bottom no-repeat;
  background-size: 100% 100px;
  padding-bottom: 110px;
}

.content {
  display: flex;
  flex-grow: 1;
}
